<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog App |  </title>

    <main>
        <form action="/blogs/create" method="POST">
            <label for="title">Blog title:</label>
            <input type="text" id="title" name="title" required>

            <label for="snippet">Blog snippet:</label>
            <input type="text" id="snippet" name="snippet" required>

            <label for="body">Blog body:</label>
            <input type="text" id="body" name="body" required>
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>
